h2 {
    margin-top: 20%;

    font-size: 500%;
    text-align: center;
}

input {
    position: relative;
    left: 15%;

    width: 70%;
    height: 120px;

    font-size: 300%;
    text-align: center;
}
